* {
  box-sizing: border-box;
}

.img-zoom-container-img {
  position: relative;
}

.img-zoom-container-div {
  position: relative;

  top: 0;
  left: 10;
  z-index: 9999;
}


.img-zoom-lens:hover {
  position: absolute;
  border: 1px solid #d4d4d4;

  width: 100px;
  height: 100px;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;

  width: 100px;
  height: 100px;
}


.img-zoom-result {
  position: absolute;
  top: 0;
  left: 10;
  z-index: 9999;
  border: 1px solid #d4d4d4;

  width: 200px;
  height: 200px;
}

